{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
    {% block title %} {% endblock %}
    
    </title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
</head>
<body>
    <h1>Meu site django</h1>
    {% block content %} {% endblock %}

    <footer><p>Daniel de Oliveira</p></footer>
</body>
</html>